.faq {
  margin: 130px auto 0;
  width: 970px;
}

.faq__item-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq h2 {
  margin: 0;
  text-align: center;
  font-family: "CormorantGaramond", "Times", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
}

.faq__item-arrow {
  cursor: pointer;
  width: 15px;
  height: 8px;
  fill: transparent;

  &:hover {
    opacity: 0.7;
  }
}

.faq__list {
  margin: 60px 0 0;
  padding: 0;
  list-style: none;
}

.faq__item {
  border: 1px solid $main-brown;
  border-bottom: none;

  padding: 50px;

  & h3 {
    margin-left: -12px;
  }
}
