.page-footer {
  position: relative;
  background-color: $black;
  color: $white;
  margin-top: 20px;

  &--catalog::before {
    position: absolute;
    content: "";
    top: -132px;
    width: 100%;
    height: 1px;
    background-color: $light-grey;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.page-footer__grid-container {
  display: flex;
  padding: 90px 7%;

  @media (max-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 60px 150px 60px 45px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    padding: 60px 15px;
  }
}

.page-footer__promo {
  flex: 1 0.4 588px;
  padding-right: 15px;

  & h2 {
    margin: 0;
    font-family: "CormorantGaramond", "Arial", serif;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.025em;
  }

  & p {
    margin: 10px 0 0;
    color: $input-placeholder;
  }

  @media (max-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  @media (max-width: $mobile-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.page-footer__email-input-block {
  position: relative;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;

  &::before {
    position: absolute;
    content: "";
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: $white;
  }

  & input {
    border-style: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    flex: 1 1 397px;
    color: $white;

    &:focus {
      outline: none;
    }
  }

  & a {
    font-weight: 500;
    white-space: nowrap;
  }

  & svg {
    margin-left: 12px;
    align-self: center;
    width: 29px;
    height: 9px;
  }
}

.page-footer__signin-link {
  color: $white;

  &:hover {
    opacity: 0.7;
  }
}

.page-footer__menu-list {
  margin: 8px 0 0;
  padding: 0;
  list-style: none;

  &--1 {
    flex: 1 0.3 244px;
  }

  &--2 {
    flex: 1 0.3 223px;
  }

  & li:not(:first-child) {
    margin-top: 20px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 50px;

    &--1 {
      grid-column-start: 1;
      grid-column-end: 2;
      margin-left: 0;
    }
  }

  @media (max-width: $mobile-width) {
    &--2 {
      margin-left: 0;
    }
  }
}

.page-footer__menu-item-link {
  display: block;
  min-width: 138px;
  color: $white;
  font-weight: 500;

  &:hover {
    opacity: 0.7;
  }
}

.page-footer__socials-list {
  margin-top: 10px;
  padding: 0;
  list-style: none;

  & li:not(:first-child) {
    margin-top: 20px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 50px;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    margin-left: 0;

    & li:not(:first-child) {
      margin-top: 0;
      margin-left: 30px;
    }
  }
}

.page-footer__socials-item {
  display: flex;
  color: $white;

  & svg {
    width: 15px;
    height: 15px;
  }

  & span {
    margin-left: 15px;
    font-weight: 500;
  }

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: $mobile-width) {
    & svg {
      width: 20px;
      height: 21px;
    }

    & span {
      display: none;
    }
  }
}
