.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  overflow-x: hidden;
  min-height: 100%;
  min-width: $min-width;
  margin: auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
