.page-footer {
  background-color: $black;
  color: $white;
  display: grid;
  grid-template-columns: minmax(500px, auto) repeat(3, min-content);
  padding: 90px 98px;

  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(3, auto);
  }
}

.page-footer__promo {

  & h2 {
    margin: 0;
    font-family: "CormorantGaramond", "Arial", serif;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.025em;
  }

  & p {
    margin: 10px 0 0;
    color: $input-placeholder;
  }

  @media (max-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.page-footer__email-input-block {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 45px;

  &::before {
    position: absolute;
    content: "";
    bottom: -10px;
    width: 100%;
    height: 1px;
    background-color: $white;
  }

  & input {
    border-style: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 14px;
    flex: 1 1 397px;
    color: $white;

    &:focus {
      outline: none;
    }
  }

  & a {
    font-weight: 500;
    white-space: nowrap;
  }

  & svg {
    margin-left: 12px;
    align-self: center;
    width: 29px;
    height: 9px;
  }
}

.page-footer__signin-link {
  color: $white;

  &:hover {
    opacity: 0.7;
  }
}

.page-footer__menu-list {
  margin: 8px 0 0;
  padding: 0;
  list-style: none;

  &--1 {
    margin-left: 90px;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &--2 {
    margin-left: 66px;
  }

  & li:not(:first-child) {
    margin-top: 20px;
  }

  @media (max-width: $tablet-width) {
    &--1 {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}

.page-footer__menu-item-link {
  display: block;
  min-width: 138px;
  color: $white;
  font-weight: 500;
  white-space: nowrap;

  &:hover {
    opacity: 0.7;
  }
}

.page-footer__socials-list {
  margin: 10px 0 0 87px;
  padding: 0;
  list-style: none;

  & li:not(:first-child) {
    margin-top: 20px;
  }
}

.page-footer__socials-item {
  display: flex;
  color: $white;

  & svg {
    width: 15px;
    height: 15px;
  }

  & span {
    margin-left: 15px;
    font-weight: 500;
  }

  &:hover {
    opacity: 0.7;
  }
}
