.page-header {
  padding: 0 98px;
  box-sizing: border-box;
  max-width: 1366px;
  width: 100%;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 115px 61px;

  @media (max-width: $tablet-width) {
    padding: 0 45px;
    overflow: scroll;
  }
}

.page-header__menu-toggle {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    justify-self: start;
    align-self: center;
    grid-area: toggle;
    cursor: pointer;

    & svg {
      align-self: center;
      width: 25px;
      height: 16px;
    }
  }
}

.no-js .page-header__menu-toggle {
  & svg {
    stroke: $main-brown;
  }
}

.page-header__search {
  display: flex;
  align-items: center;
  height: 14px;
  padding: 0;
  box-sizing: border-box;

  & svg {
    fill: $main-black;
    width: 14px;
    height: 14px;
  }

  & input {
    height: 21px;
    margin-left: 15px;
    border-style: none;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 14px;

    &::placeholder {
      color: $input-placeholder;
    }
  }

  @media (max-width: $tablet-width) {
    position: relative;
    grid-area: search;
    display: flex;
    justify-content: center;

    & input {
      margin: 0;
      width: 100%;
      height: 40px;
      background-color: $light-brown;
      border-radius: 21px;

      &::placeholder{
        color: transparent;
      }
    }

    & svg {
      position: absolute;
      left: 10px;
      fill: $white;
    }
  }
}

.page-header__logo-link {
  justify-self: center;

  & svg {
    width: 66px;
    height: 66px;
    fill: $main-brown;
    fill-rule: evenodd;
  }

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    grid-area: logo;
  }
}

.page-header__login-cart-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: $main-black;

  & li {
    margin-left: 35px;
  }
}

.page-header__login-cart-item-link {
  color: $main-black;

  &--login {
    cursor: pointer;
  }

  &:hover {
    opacity: 0.7;
  }
}

.page-header__navigation {
  grid-column-start: 1;
  grid-column-end: 4;

  @media (max-width: $tablet-width) {
    grid-area: nav;
  }
}

.page-header__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  & li {
    &:not(:first-child) {
      margin-left: 35px;
    }
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-top: 15px;

    & li {
      margin-top: 40px;

      &:not(:first-child) {
        margin-left: 0;
      }
    }
  }
}

.page-header__menu-item-link {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $main-black;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    color: $white;
  }
}

.page-header__mail-link {
  display: none;

  @media (max-width: $tablet-width) {
    cursor: pointer;
      justify-self: end;
      align-self: center;
      display: block;
      grid-area: mail;

      &:hover {
        opacity: 0.7;
      }

      & svg {
        width: 20px;
        height: 20px;
        fill: transparent;
      }
  }
}

.page-header__add-menu-list {
  display: none;

  @media (max-width: $tablet-width) {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    & li {
      margin-top: 30px;
    }
  }
}

.page-header__add-menu-item-link {
  color: $white;
  opacity: 0.75;
}

// mobile menu items enable
.page-header--closed {
  @media (max-width: $tablet-width) {
    grid-template-areas:  "toggle logo mail";
    grid-template-rows: 126px;

    & .page-header__menu-toggle svg {
        stroke: $main-black;
    }

    & .page-header__mail-link svg {
      stroke: $black;
    }

    & .page-header__navigation,
      .page-header__search,
      .page-header__login-cart-list {
      display: none;
    }
  }
}

.page-header--opened {
  @media (max-width: $tablet-width) {
    grid-template-areas:  "toggle logo mail"
                          "search search search"
                          "nav nav nav"
                          "login login login";
    grid-template-rows: repeat(5, min-content);
    padding: 30px 45px 80px;
    background-color: $main-brown;

    & .page-header__menu-toggle svg {
      stroke: $white;
    }

    & .page-header__logo-link {
      & svg {
        fill: $white;
      }
    }

    & .page-header__mail-link svg {
      stroke: $white;
    }

    & .page-header__login-cart-list {
      grid-area: login;
      margin: 50px 0 0;
      justify-self: start;

      & li {
        margin: 0;
      }
    }

    & .page-header__login-cart-item-link {
      color: $white;

      &--cart {
        display: none;
      }
    }
  }
}
