.shop__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 35px;
}

.shop__item {
  text-align: center;

  & img {
    display: block;
    width: 100%;
    height: auto;
  }

  & h2 {
    margin: 22px 0 0;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
  }

  & p {
    margin: 6px 0 0;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
}

.shop__bottom-block {
  margin-top: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & span {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}

.shop__pagination-list {
  list-style: none;
  display: flex;
  margin: 0;
  margin-left: -33px;
  padding: 0;
}

.shop__pagination-item {
  cursor: pointer;
  color: $input-placeholder;

  &:hover {
    color: $main-black;
  }

  &:first-child {
    cursor: default;
    color: $main-black;
  }

  &:not(:first-child) {
    margin-left: 13px;
  }
}
