.shop {
  margin: 100px 5% 0;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin: 50px 2% 0;
  }

  @media (max-width: $mobile-width) {
    margin: 65px 0 0;
    padding: 15px;
  }
}

.shop h1 {
  margin: 0;
  font-family: "CormorantGaramond", "Times", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
}

.shop__arrow-container {
  position: relative;
  width: 100%;
}

.shop__arrow {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 11px;
  stroke: $main-brown;

  &--left {
    left: 0;
    top: 30px;
  }

  &--right {
    top: 30px;
    right: 0;
  }

  &:hover {
    stroke: $main-black;
  }
}

.shop__catalog-link {
  display: inline-block;
  vertical-align: middle;
  margin-top: 35px;
  color: $main-black;
  font-weight: 500;
  border-bottom: 1px solid $main-brown;

  &:hover {
    color: $main-brown;
  }
}

.shop__product-list {
  margin-top: 60px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    margin-top: 50px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 40px;
  }
}

.shop__product-item {
  display: none;

  &--current {
    display: block;

    & h2 {
      font-weight: 500;
      font-size: 16px;
    }

    & p {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }
  }

  & img {
    display: block;
    width: 270px;
    height: 284px;
  }

  @media (max-width: $tablet-width) {
    width: 324px;

    & img {
      height: 340px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 130px;

    & img {
      height: 136px;
    }
  }
}

.shop__page-number-list {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.shop__page-number-item {
  cursor: pointer;
  font-weight: 500;
  color: $input-placeholder;

  &:not(:first-child) {
    margin-left: 15px;
  }

  &--current {
    color: $main-black;
  }
}

.shop__mobile-pages-pagination {
  font-weight: 500;
}
