$min-width: 320px;
$tablet-width: 1024px;

$black: #000000;
$white: #ffffff;
$input-placeholder: #9B9997;
$main-black: #1d1613;
$background: #f0Eae4;
$popup-shadow: rgba(226, 221, 215, 0.24);
$main-brown: #a87b62;
$light-brown: rgb(181, 143, 121);
$hover-brown: rgba(168, 123, 98, 0.7);
$image-background: rgba(86, 64, 52, 0.7);
